<div class="container mt-5 mb-5 pl-3">
  <div class="BreadCrumbs">
    <nav>
      <p><a routerLink="/cart"> <i class="fas fa-chevron-left" style="color: #f15758;"></i>&nbsp; Back To Cart </a></p>
      <div class="col-lg-6">
        <br>
        <div class="row">
          <div class="col-md-3"><span class="circle active">1</span>Shipping</div>
          <div class="col-md-2"><hr class="divider activeDidiver"></div>
          <div class="col-md-3"><span class="circle active">2</span>Payment</div>
          <div class="col-md-2"><hr class="divider activeDidiver"></div>
          <div class="col-md-2"><span class="circle active">3</span>Confirmation</div>
        </div>
      </div>
    </nav>
  </div>
</div>

<div class="container mt-5 mb-5 pl-3">
  <div class="row" style="margin: auto;">
    <!--Left Box-->
    <div class="col-lg-7 MainBox">
      <div class="CartLeftContainer pl-5">
        <p class="Header">Order Is Confirmed !</p>
        <p class="mt-3 mb-5" style="color: #657c92 !important;">
          Your payment of 60.50 EGP has been successfully processed!
          An order confirmation has been sent to: user@email.com
        </p>
        <p class="Header mt-5">Order Details</p>

        <div class="row">
          <div class="col-6 p-3 pr-5">
            <span class="float-eft detailHead">Shipping To</span>
            <span class="float-right detailval">Change</span>
            <div class="info">
              User name <br>
              10 , ELFashin , Bani Swif , Egypt
            </div>
          </div>

          <div class="col-6 p-3 pl-5">
            <span class="float-eft detailHead">Payment Detail</span>
            <span class="float-right detailval">Change</span>
            <div class="info">
              Cash on delivery
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-6 p-3 pr-5">
            <span class="float-eft detailHead">Mobile Number</span>
            <span class="float-right detailval">Change</span>
            <div class="info">
              +20 1xxxxxxxxxx
            </div>
          </div>

          <div class="col-6 p-3 pl-5">
            <span class="float-eft detailHead">Transaction Number</span>
            <span class="float-right detailval">Change</span>
            <div class="info">
              139750xxxxxxx
            </div>
          </div>

        </div>

      </div>
    </div>
    <div class="offset-md-1"></div>
    <!--Right Box-->
    <div class="col-lg-4">
    </div>

  </div>
</div>


