@keyframes spinner {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}
.fa-spinner {
    animation-name: spinner;
    animation-iteration-count: infinite;
    // animation-fill-mode: forwards;
    animation-duration: 1s;
    transform-origin: center;
    animation-timing-function: linear;
}