.container {
  margin-bottom: 91px !important;
}
.BreadCrumbs {
  margin-bottom: 46px;
}
p {
  font-size: 20px !important;
  font-family: gilroy-light;
  color: #657c92;
  line-height: 25px;
  font-weight: 300;
  margin-bottom: 0;
}
.fa-chevron-right {
  color: #f15758;
}

a {
  color: #657c92;
}
h3 {
  font-family: din;
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color: #f15758;
}
h4 {
  font-family: gilroy-light;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #657c92;
  padding: 15px 0;
}
.col-10,
.col-2 {
  padding: 0;
}
.form-control {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  width: 78px;
}
.pt-5 {
  padding-top: 0 !important;
}
