<!--Start Background Section -->
<app-home-background></app-home-background>
<!--End Background Section -->

<!--Start offers Sections-->
<app-offers [hidden]="true"></app-offers>
<!--End offers Sections-->


<!--Start offers Sections-->
<app-category></app-category>
<!--End offers Sections-->


<!--Start offers Sections-->
<app-new-arrivals></app-new-arrivals>
<!--End offers Sections-->


<!--Start offers Sections-->
<app-how-it-work></app-how-it-work>
<!--End offers Sections-->


<!--Start offers Sections-->
<app-recommended-by-us></app-recommended-by-us>
<!--End offers Sections-->
