footer {
    position: relative;
  
    &::after {
      content: '';
      background-color: #202020;
      position: absolute;
      top:0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: -1;

      width: calc(100vw);
      margin: 0 calc(-50vw + 50%);
    }

    ul {
        margin: 0;
        padding: 0;
    }

  
  }