<footer  class="container">
  <div class="row TopHeader">
    <div class="col-md-3 col-sm-12 pt-0 mt-0">
      <h5 class="mb-4">CONTACT US</h5>
      <ul class="Contact-list">
        <li class="row">
          <i class="fas fa-map-marker-alt"></i>
          <div class="col-10">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </div>
        </li>

        <li class="row">
          <i class="fas fa-mobile-alt"></i>
          <div class="col-10">+202 2598 9857</div>
        </li>

        <li class="row">
          <i class="fas fa-envelope"></i>
          <div class="col-10">+202 2598 9857</div>
        </li>
      </ul>
    </div>

    <div class="col-md-3 col-sm-12">
      <h5 class="mb-4">CUSTOMER SERVICE</h5>
      <ul class="InfoList">
        <nav>
          <li>My Account</li>
          <li><a routerLink="customer-service/FAQ">FAQ</a></li>
          <li><a routerLink="customer-service/help">Help Center </a></li>
        </nav>
      </ul>
    </div>

    <div class="col-md-3 col-sm-12">
      <h5 class="mb-4">CORPORATION</h5>
      <ul class="InfoList">
        <nav>
          <li>My Account</li>
          <li><a routerLink="customer-service/FAQ">FAQ</a></li>
          <li><a routerLink="customer-service/help">Help Center </a></li>
        </nav>
      </ul>
    </div>
    <div class="col-md-3 col-sm-12">
      <h5 class="mb-4">WHY CHOOSE US</h5>
      <ul class="InfoList">
        <nav>
          <li>Shopping Guide</li>
          <li>Blog</li>
          <li>Company</li>
          <li><a routerLink="customer-service/contact-us">Contact Us</a></li>
        </nav>
      </ul>
    </div>
  </div>


  <!-- SOCIAL ICONS -->
  <!-- <div class="bottom-header">
    <div class="row">
      <div class="col-6 socialIcon">
        <span>
            <i class="--social-icons --fb-icon"></i>
        </span>
        <span>
          <i class="--social-icons --twitter-icon"></i>
        </span>
        <span>
    
        </span>
        <span>
          <img src="/assets/img/footer/y.png" alt="in " />
          <div class="--icon">
            <i class="fab fa-linkedin-in"></i>
          </div>
        </span>
        <span>
          <img src="/assets/img/footer/y.png" alt="youtube + " />
          <div class="--icon">
            <i class="fab fa-youtube"></i>
          </div>
        </span>
      </div>
      <div class="col-6 CreditCards pr-5">
        <img src="/assets/img/footer/master.png" alt="master card" />
        <img src="/assets/img/footer/pay.png" alt="master card" />
        <img src="/assets/img/footer/visa.png" alt="master card" />
      </div>
    </div>
  </div> -->
</footer>
