@import "../../../assets/scss/colors.scss";

.ProductOptions {
  background-image: url("../../../assets/img/product-background/options.png");
  height: 100%;
  margin: 0 -15px;
  background-size: contain;
}
.overlay {
  position: absolute; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.05); /* Black background with opacity */
  z-index: 2;
}
.fa-chevron-right,
.fa-chevron-up {
  color: $main-color;
}

.ProductOptions {
  padding: 0;
  z-index: 5;
  position: relative;
}
.Breadcrumb {
  // border-bottom: 1px solid #657c92;
  padding-bottom: 10px !important;
}
.BrandHeader,
.PriceHeader {
  display: flex;
  justify-content: space-between;
}
.Breadcrumb a,
.BrandHeader,
.PriceHeader,
.SortByPrice {
  // font-family: gilroy-light;
  color: #657c92 !important;
  text-decoration: none;
  font-weight: 800 !important;
}
.BrandHeader,
.PriceHeader,
.SortByPrice {
  font-size: 20px;
  font-weight: bolder;
}
.ListBrands {
  list-style-type: none;
  padding: 0;
}
.ListBrands li {
  text-align: left !important;
  padding: 5px 10px 0 0;
  // font-family: gilroy-light;
  color: #657c92;
}

.divider {
  border-color: #657c92;
  border-width: 1px;
}
.PriceBox input {
  color: #657c92;
  font-size: 14px;
  resize: none;
  height: 70px;
  width: 100%;
  overflow: hidden;
  padding: 0 0 0 10px;
}
.HeaderCat {
  color: $main-color;
  font-size: 22px;
  font-weight: bolder;
}
.PNumber {
  color: #657c92;
  font-size: 18px;
}
.SelectSort {
  border: 1px solid $main-color;
  color: $main-color;
  height: 57px;
  position: relative;
}
.Breadcrumb ~ hr {
  width: 97%;
  margin: 0 !important;
  border-color: #657c92;
}

.custom-select {
  // background-image: linear-gradient(45deg, transparent 50%, red 60%),
  //   linear-gradient(135deg, red 40%, transparent 50%) !important;
  background: url(../../../assets/svg/arrow-down.svg);
  background-position: calc(100% - 30px) 7px, calc(100% - 20px) 14px, 100% 0;
  // background-size: 10px 10px, 10px 10px;
  background-repeat: no-repeat;
  // -webkit-appearance: none;
  // -moz-appearance: none;
  padding: 0 !important;
}
.arrow-up {
  background: url(../../../assets/svg/arrow-up.svg);
  width: 63px;
  margin-top: 5px;
  background-repeat: no-repeat;
}
.arrow-down {
  background: url(../../../assets/svg/arrow-down.svg);
  width: 63px;
  margin-top: 5px;
  background-repeat: no-repeat;
}
.custom-select option {
  padding: 10px 0;
}
.form-control-lg {
    height: auto !important;
    margin-top: -22px;
}
.form-control {
    border-radius: 8px !important;
}
.form-control-lg span{
    font-size: 12px;
    color: #657c92;
}
.SelectSort {
    color: #f15758;
    height: 20px;
    width: 100%;
    position: relative;
    border: none;
    font-size: 15px;
}