<div class="container mt-5 mb-5 pl-3">
  <div class="BreadCrumbs">
    <nav>
      <p><a routerLink="/cart"> <i class="fas fa-chevron-left" style="color: #f15758;"></i>&nbsp; Back To Cart </a></p>
      <div class="col-lg-6">
        <br>
        <div class="row">
          <div class="col-md-3"><span class="circle active">1</span>Shipping</div>
          <div class="col-md-2"><hr class="divider activeDidiver"></div>
          <div class="col-md-3"><span class="circle active">2</span>Payment</div>
          <div class="col-md-2"><hr class="divider activeDidiver"></div>
          <div class="col-md-2"><span class="circle">3</span>Confirmation</div>
        </div>
      </div>
    </nav>
  </div>
</div>

<div class="container mt-5 mb-5 pl-3">
  <div class="row" style="margin: auto;">
    <!--Left Box-->
    <div class="col-lg-5 MainBox">
      <div class="CartLeftContainer pl-5">
        <p class="Header">Select your Payment Method</p>
        <form class="mb-5">
          <div class="input-group" style="border: 1px solid #426f9b;border-radius: 5px;" >
            <div class="input-group-prepend">
              <div class="input-group-text" style="background: transparent;">
                <input  name="paymentMethod" type="radio" aria-label="Radio button for following text input">
              </div>
            </div>
            <input type="text" disabled class="form-control Transparent" aria-label="Text input with radio button" value="Credit Or Debit Card">
            <img src="../../../assets/img/payment/visa.png" style="position: absolute; right:10px;top: 8px;" >
            <img src="../../../assets/img/payment/master.png" style="position: absolute; right:60px;top: 8px;" >
          </div>
          <br>
          <div class="input-group" style="border: 1px solid #426f9b;border-radius: 5px;" >
            <div class="input-group-prepend">
              <div class="input-group-text" style="background: transparent;">
                <input style="background: transparent;" name="paymentMethod" type="radio" aria-label="Radio button for following text input">
              </div>
            </div>
            <input type="text" disabled class="form-control Transparent" aria-label="Text input with radio button" value="Cash on Delivery">
          </div>
        </form>
        <p class="Header mt-5">Add your Promo Code</p>
        <form>
          <div class="input-group mb-3 pr-0 pl-3 row">
            <input style="background-color: transparent; border-radius: 5px;border: 1px solid #426f9b;" type="text" class="form-control col-9" placeholder="Enter Your Promo code" >
            <div class="offset-1"></div>
            <button class="btn btn-danger col-2"><i class="fas fa-check"></i></button>
          </div>
        </form>
      </div>
    </div>
    <div class="offset-md-1"></div>
    <!--Right Box-->
    <div class="col-lg-5 MainBox">
      <app-order-summary NextLink="/confirmation"></app-order-summary>
    </div>

  </div>
</div>


