@import '../../../assets/scss/colors.scss';
#--new-offers-container{
    @media screen and (max-width: 320px) {
        width: 100%;
        padding: 0rem;
        owl-carousel {
            width: 100%;

            owl-carousel-child {
                background: red !important;
            }
            & > .owl-carousel {
                margin: 0rem !important;
            }
        }
    }

    @media screen and (max-width: 375px) {
        padding-top: 0rem !important;
        padding-bottom: 0rem !important;
    }
    .item {
        width: 700px;
        margin: 0 auto;
    }
    @media (max-width: 768px){
        // padding-top:0rem !important;
        // padding-bottom: 0rem !important;
        // width: 720px !important;

        .item {
            width: 100%;
        }
    }
}
.CircleBox {
    // centering circle
    // margin: 0 auto;
    margin-left: 2rem;

    border-radius: 50%;
    box-shadow: 1px 1px 1px #00000059 , -1px -1px 1px #00000059 ;
    z-index: 2;
    padding: 0rem !important;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    background-color: $main-color;

    height: 474px;
    width: 474px;
    @media (max-width: 425px) {
        height: 320px;
        width: 320px;
        & + img {
            display: none;
        }
    }

    .--circle-box-content {
        width: 80%;
        margin: 0 auto;

        h3:first-child {
            font-size: 34px;
        }
        .title, .firstHeader {
            font-size: 25px;
            line-height: 33px;
            text-transform: capitalize;
        }

        & > button {
            color: $main-color;
            font-size: 1.2rem;
            width: 50%;
            border-radius: 25px;
        }

        a:last-child {
            width: 171px;
            height: 48px;
            border-radius: 25px;
            display: inline-block;
            text-align: center;
            line-height: 34px;
            font-size: 25px;
            letter-spacing: -1.2px;

            @media (max-width: 425px) {
                width: 137px;
                height: 34px;
                line-height: 23px;
            }

        }

    }
}

.carousel-item {
    position: relative;
    @media (max-width: 768px){
        transform: scale(.9);
    }
    @media (max-width: 425px) {
        transform: scale(1);
        display: flex;
        justify-content: flex-end;
    }
    .OfferImage {
        position: absolute;
        right: 0%;
        top: 0%;
        bottom: 0;
        width: 300px;
        height: 300px;
        z-index: 1;

    }
}
