<div class="container-fluid my-5" id="--new-offers-container">
  <!-- <div id="--offer-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="row">
        <div class="pl-5 pr-5 OfferContainer">

            <a class="carousel-control-next m-5" href="#--offer-carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>

          <div class="carousel-item active text-center mt-5 mb-5">
            
            <div class="p-5 CircleBox">
              <div class="--circle-box-content">
                <h3 class="text-white title">Daily Offers</h3>
                <hr class="divider" style="width: 70%;border: 1px solid #fff;">
                <p class="text-white m-0 mt-4 mb-0 firstHeader --gilory-bold">cherry</p>
                <p class="p-3 pt-0 mt-0 text-white body" style="font-size: 1rem;">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since t
                </p>
                <p class="text-white m-0 p-0 --gilory-bold firstHeader">EGP 15</p>
                <button class="btn btn-light mt-3 --gilory-bold">Buy Now</button>
              </div>
            </div>
            <div>
              <img class="OfferImage" src="/assets/img/offers/offer1.png" alt="Image" />
            </div>
         
          </div>

          <div class="carousel-item text-center mt-5 mb-5">
            
            <div class="p-5 CircleBox">
              <div class="--circle-box-content">
                <h3 class="text-white title">Daily Offers</h3>
                <hr class="divider" style="width: 70%;border: 1px solid #fff;">
                <p class="text-white m-0 mt-4 mb-0 firstHeader --gilory-bold">cherry</p>
                <p class="p-3 pt-0 mt-0 text-white body" style="font-size: 1rem;">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since t
                </p>
                <p class="text-white m-0 p-0 --gilory-bold firstHeader">EGP 15</p>
                <button class="btn btn-light mt-3 --gilory-bold">Buy Now</button>
              </div>
            </div>
            <div>
              <img class="OfferImage" src="/assets/img/offers/offer1.png" alt="Image" />
            </div>
         
          </div>

          <a class="carousel-control-prev m-5" href="#--offer-carousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
          

        </div>
      </div>
    </div>




  </div> -->
  <owl-carousel
  [items]="offers"
  [options]="carouselOptions"
  [carouselClasses]="['owl-theme', 'row', 'sliding']">
    <div class="item" *ngFor="let offer of offers;let i = index">
        <!-- <div class="thumbnail-image" [ngStyle]="{'background': 'url('abc.jpg')no-repeat scroll center center / 80px 80px'}"></div> -->
        
        <div class="carousel-item active text-center" style="padding: 0.5rem;">
            
            <div class="p-5 CircleBox">
              <div class="--circle-box-content">
                <h3 class="text-white title">Daily Offers</h3>
                <hr class="divider" style="width: 70%;border: 1px solid #fff;">
                <p class="text-white m-0 mt-4 mb-1 mb-0 firstHeader --gilory-bold">{{offer.title}}</p>
                <p class="px-3 pb-3 pt-0 m-0 text-white body" style="font-size: 1rem;">
                    {{offer.desc}}
                </p>
                <p class="text-white m-0 p-0 --gilory-bold firstHeader">{{offer.price}} EGP</p>
                <!-- [routerLink]="[offer.id]"  -->
                <a class="btn btn-light mt-1 mt-sm-3 --dineng-regular --main-color cursor" style="letter-spacing: 0px !important;">Buy Now</a>
              </div>

            </div>
            <img class="OfferImage" src="/assets/img/offers/offer1.png" alt="Image" />
           
         
          </div>

  </div>
</owl-carousel>
</div>
